html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    padding: 0;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-menu {
    width: 100%;
}

.navbar-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
    height: 36px;
}

.navbar-items a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration-line: none;
}

.navbar-items a:hover {
    color: rgba(0, 0, 0, 1);
}

.navbar-item {
    width: 90px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-items .button {
    background-color: rgba(2, 158, 116, 0.85);
    border: 0;
    width: 150px;
    height: 100%;
    color: white;
    border-radius: 3px;
}

.navbar-items .button:hover {
    background-color: rgba(2, 158, 116, 1);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slogan {
    padding: 32px;
    width: 100%;
    font-size: 75px;
    text-align: center;
    font-weight: bold;
}

.tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.tag .tag-item {
    height: 42px;
    display: flex;
    padding: 5px;
    margin: 5px;
    background-color: rgba(229, 229, 229, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.tag .tag-item:hover {
    background-color: rgba(229, 229, 229, 1);
}

.tag .tag-sub {
    width: 20px;
    height: 20px;
    background-color: #000;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-weight: bold;
}

.tag .tag-name {
    padding: 0 5px 0 5px;
    font-size: 20px;
}

.get-started {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.get-started-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.get-started-btn button {
    display: flex;
    justify-content: center;
    background-color: rgba(2, 158, 116, 0.85);
    border: 0;
    width: 350px;
    height: 100%;
    color: white;
    padding: 15px;
    border-radius: 3px;
}

.get-started-btn button:hover {
    background-color: rgba(2, 158, 116, 1);
}

.signin-btn {
    display: flex;
    justify-content: center;
}

.signin-btn a {
    text-decoration-line: none;
    color: rgba(2, 158, 116, 1);
    padding: 0 0 0 3px;
}