.top-bar{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

#editor{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: rgba(2, 158, 116, 0.85);
    border: 0;
    color: white;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
}
.button:hover {
    background-color: rgba(2, 158, 116, 1);
    color: white;
}
